

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App{
  text-align: center;

  /* background-color: #282c34; */

 background: no-repeat url(../public/background.jpg);
 background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-header{
  color: rgb(3, 19, 10);
  font-style: italic;
text-align: left;
max-width: 500px;


}
.App-container{
  color: rgb(148, 168, 157);
  font-style: italic;
text-align: left;
max-width: 500px;


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
